
@font-face {
    font-family: "fredoka";
    src: url(Fredoka_One/FredokaOne-Regular.ttf);
}
@font-face {
    font-family: "mochiy";
    src: url(Mochiy_Pop_One/MochiyPopOne-Regular.ttf);
}
body{
    margin:0 ;
    padding: 0;
    text-align: center;
    justify-content: center;
    display: block;
    background-color: #C19A6B;
}
@keyframes catimage {
    0%{transform: rotatey(0deg);}
    12.5%{transform: rotatey(45deg);}
    25%{transform: rotatey(90deg);}
    37.5%{transform: rotatey(135deg);}
    50%{transform: rotatey(180deg);}
    62.5%{transform: rotatey(225deg);}
    75%{transform: rotatey(270deg);}
    87.5%{transform: rotatey(315deg);}
    100%{transform: rotatey(360deg);}
}
img{
    height: 300px;
    width: 200px;
    margin-bottom: 50px;
    animation-name: catimage;
    animation-duration: 5s;
    animation-delay: 5s;
    animation-iteration-count:20;
}

h1{
    font-size: 50px;
    font-family: "fredoka";
}
.header{
    border: 2px solid #966919;
    margin-bottom: 50px;
    background-image: linear-gradient(to left, #966919,#C19A6B,#C2B280);
}
button:hover{
   background-color: blue;
   color: white;
}
button{
    border: none;
    font-size: 15px;
    height: 35px;
    width:150px;
    border-radius: 50px;

}
#catFact{
    text-align: center;
    justify-content: center;
    font-family:"mochiy" ;
}